#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  /* overflow: hidden; */
}

.page {
  height: 20vh;
  transition: all ease-in 1s;
  width: calc(1rem -100vw);
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 1; */
  opacity: 0;
}
.page:nth-child(odd) {
  background: pink;
  transform: translateX(-150%);
}
.page:nth-child(even) {
  background: rgb(219, 92, 113);
  transform: translateX(150%);
}
.slide-in {
  transform: translateX(0) !important;
  opacity: 1 !important;
}
